{% extends "base_publica.html" %}

{% block conteudo %}

<div class="central-texto mb-5">
    <h1 class="titulo-principal mb-3">🎬 CineList</h1>
    <p class="descricao-principal">Seu catálogo de filmes online. Organize, explore e gerencie seus filmes favoritos de forma simples.</p>

    <a href="/login" class="botao-entrar me-2">Entrar</a>
    <a href="/cadastro" class="botao-criar">Criar Conta</a>
</div>

<!-- funcionalidades -->
<div class="linha-funcoes">

    <div class="col-funcao mb-3">
        <div class="bloco-funcao bg-secundario text-light h-100">
            <div class="corpo-bloco text-center">
                <h5 class="titulo-bloco">🎬 Gerenciar Filmes</h5>
                <p>Cadastre e visualize todos os filmes do sistema.</p>
            </div>
        </div>
    </div>

    <div class="col-funcao mb-3">
        <div class="bloco-funcao bg-secundario text-light h-100">
            <div class="corpo-bloco text-center">
                <h5 class="titulo-bloco">🏷️ Gêneros</h5>
                <p>Organize os filmes por categorias.</p>
            </div>
        </div>
    </div>

    <div class="col-funcao mb-3">
        <div class="bloco-funcao bg-secundario text-light h-100">
            <div class="corpo-bloco text-center">
                <h5 class="titulo-bloco">👤 Usuários</h5>
                <p>Controle de usuários do sistema.</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}